/* CSS files add styling rules to your content */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato";
  background-color: #f8f8f8;
}
body.midfi-page {
  font-family: "roboto";
  background-color: white;
}

/*headers and links*/
a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
h2 {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
nav h2 {
  color: rgba(93, 70, 219);
}
.midfi-page h2 {
  font-weight: 400;
  text-decoration: underline;
  color: black;
}

.midfi-page footer h2 {
  text-decoration: none;
}
h3 {
  font-size: 16px;
  font-weight: normal;

  grid-column: 2;
  margin-top: 32px;
}

.about-me-page h3 {
  max-width: 100%;
  font-weight: normal;
  color: #5d46db;
  margin: 24px 0;
}
.about-me-page h4 {
  max-width: 100%;
  font-weight: 300;
  text-decoration: none;
}

.coforce-page h3 {
  grid-row: 3;
  grid-column: 2/4;
  margin: 16px 0;
  color: #5d46db;
  font-size: 20px;
}
.coforce-page h4 {
  grid-column: 2/4;
  max-width: 100%;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
}

h4 {
  text-decoration: underline;
  font-size: 18px;
  font-weight: normal;
  margin: 16px 0;
  max-width: 320px;
}
h5 {
  font-weight: normal;
  font-size: 16px;
  max-width: 320px;
}

a:visited {
  color: black;
}
.highfi-page a:hover {
  color: rgba(93, 70, 219);
}
.about-me-page a:hover {
  color: rgba(93, 70, 219);
}
a:hover h5 {
  color: black;
}
.project-box a {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}
.midfi-page #midfi h2 {
  font-weight: 900;
  text-decoration: none;
}

/* nav*/
nav {
  width: 100%;
  height: 60px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 32px 1fr 1fr 32px;
  grid-template-rows: 1fr;
}
#nav-items {
  grid-column: 2;
  display: flex;
  align-self: center;
}
#midhigh {
  display: flex;
  justify-self: end;
  align-self: center;
}

#slash {
  margin: 0 5px;
}

#about {
  margin-right: 20%;
}

#back {
  grid-column: 2;
  align-self: center;
}

.midfi-page nav {
  box-shadow: none;
  background-color: #d8d8d8;
  position: static;
}
/*footer*/
footer {
  background-color: #8d7ee5;
  display: grid;
  grid-template-columns: 32px 1fr 32px;
  grid-template-rows: 1fr 1fr 1fr;
  height: 120px;
}

.midfi-page footer {
  background-color: #d8d8d8;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-self: center;
  grid-column: 2 /3;
  max-width: 300px;
}

#copyrights {
  font-size: 12px;
  align-self: center;
  grid-column: 2 /4;
  grid-row: 3;
}

#touch {
  align-self: center;
  grid-column: 2 /4;
}

.highfi-page .icon:hover #closed {
  stroke: rgba(93, 70, 219);
}

.highfi-page .icon:hover #Icon-Shape {
  fill: rgba(93, 70, 219);
}
.highfi-page .icon:hover #Icon-Path {
  fill: rgba(93, 70, 219);
}
.icon:hover {
  cursor: pointer;
}

.midfi-page #closed {
  stroke: black;
}

.midfi-page #Icon-Shape {
  fill: black;
}
.midfi-page #Icon-Path {
  fill: black;
}

/* main content*/
#my-pic {
  display: none;
}

.name-container {
  width: fit-content;
  align-self: flex-start;
  display: grid;

  grid-column: 1/3;
  grid-template-columns: 32px 1fr;
  grid-template-rows: 1fr;
  margin-top: 24px;
}

#name {
  font-size: 40px;
  font-weight: 900;
  grid-column: 2/3;
  animation-name: falling;
  animation-duration: 1s;
}

.midfi-page #name {
  animation: none;
}

.midfi-page #updown {
  animation: none;
}
@keyframes falling {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.line {
  height: 7px;
  background-color: #5d46db;
  grid-column: 1/3;
  position: relative;
  bottom: 6px;
  animation-name: slide;
  animation-duration: 1s;
}
@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

#rony {
  color: #5d46db;
  position: absolute;
}

#ronyheb {
  color: #5d46db;
  opacity: 0;
  padding-left: 30px;
  font-family: rubik;
}
.highfi-page .name-container:hover {
  cursor: url("https://cdn.glitch.com/adc78b88-ec8d-481f-a55e-7ef26d0d4a24%2F%F0%9F%A5%91.svg?v=1589097619325"),
    auto;
}

.about-me-page .name-container:hover {
  cursor: default;
}
.coforce-page .name-container:hover {
  cursor: default;
}
.name-container:hover #rony {
  opacity: 0;
}

.name-container:hover #ronyheb {
  opacity: 1;
}

.about-me-container {
  grid-column: 2/3;
  margin-top: 40px;
}
.main-container {
  display: grid;
  grid-template-columns: 32px 1fr 32px;
}
.coforce-page .name-container {
  grid-column: 1/4;
}

#glasses {
  width: 26px;
  height: 16px;
  object-fit: contain;
  margin-left: 10px;
  margin-right: 7px;
  padding-top: 2px;
}

#arrow {
  display: block;
  margin: 24px auto 24px auto;

  width: 16px;
}
#updown {
  grid-column: 2;
  align-self: center;
  animation: vertical 4s infinite;
}
@keyframes vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}
.up {
  width: 16px;
  grid-column: 2/3;
  margin: 80px auto 40px auto;
}

.coforce-page .up {
  grid-column: 2/4;
}
#upup {
  width: 16px;
  transform: rotate(180deg);
}
.projects-container {
  grid-column: 2;
  padding: 80px 0 0 0;
  justify-self: center;
  display: grid;
}

.box {
  width: 100%;
  max-width: 320px;
  grid-row: 1;
  grid-column: 1;
  transition: 0.2s ease;
  border-radius: 4px;
  max-height: 209.7px;
}
.boxmockup {
  width: 100%;
  max-width: 320px;
  max-height: 209.7px;
  grid-row: 1;
  grid-column: 1;
  opacity: 0;
  transition: 0.2s ease;
  border-radius: 4px;
}

.highfi-page .project-box:hover .boxmockup {
  opacity: 1;
  transition: 0.2s ease;
  transform: scale(1.01);
}
.highfi-page .project-box:hover .box {
  opacity: 0.2;
  transition: 0.2s ease;
  transform: scale(1.01);
}

#desktop-mockup {
  display: none;
}
#mobile-mockup {
  grid-column: 2/3;
  width: 110px;
  height: 233px;
  margin: 40px 0;
  justify-self: center;
}

.coforce-page .main-container {
  grid-template-columns: 32px 1fr 1fr 32px;
}

.overview {
  margin: 0;
  align-self: center;
  justify-self: center;
}
.overview h4 {
  font-weight: normal;
}

.btn {
  grid-column: 2/4;
  justify-self: center;
  background: #ffffff;
  border: 1px solid #5d46db;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px 32px;
  text-align: center;
  width: fit-content;
  font-weight: 400;
  font-size: 18px;
  margin: 40px auto;
  display: block;
}
.btn:hover {
  background: #5d46db;
  cursor: pointer;
}
.btn a {
  color: #5d46db;
}

.btn:hover a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

/* tablet to desktop */
@media all and (min-width: 767px) {
  h2 {
    font-size: 20px;
  }
  h3 {
    margin-top: 48px;
    font-size: 20px;
  }

  footer {
    grid-template-columns: 32px 1fr 32px;
    grid-template-rows: 1fr;
  }

  .social-media {
    justify-self: center;
    width: 80%;
    grid-row: 1;
    grid-column: 2;
  }

  #copyrights {
    font-size: 12px;
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
  }

  #touch {
    grid-column: 2;
    justify-self: start;
    grid-row: 1;
  }

  .name-container {
    margin-top: 64px;
  }
  #name {
    font-size: 72px;
  }
  .line {
    height: 12px;
  }

  .projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: initial;
  }
  .project-box {
    justify-self: center;
  }

  .overview {
    margin-left: 48px;
    grid-column: 2;
    grid-row: 2;
  }
  #mobile-mockup {
    justify-self: start;
    grid-row: 2;
  }
}

/*  desktop */
@media all and (min-width: 1024px) {
  h3 {
    grid-column: 2/9;
    grid-row: 2;
  }

  .coforce-page h3 {
    grid-row: 4;
  }
  .coforce-page h4 {
    grid-column: 2/14;
  }
  h4 {
    max-width: 432px;
  }

  h5 {
    max-width: 432px;
  }
  nav {
    grid-template-columns: 1fr 464px 464px 1fr;
  }
  footer {
    grid-template-columns: 1fr 928px 1fr;
  }

  .main-container {
    grid-template-columns: 1fr repeat(12, 77.33px) 1fr;
  }

  .coforce-page .main-container {
    grid-template-columns: 1fr repeat(12, 77.33px) 1fr;
  }

  .about-me-page .name-container {
    grid-template-columns: 1fr repeat(14, 66.28px) 1fr;
  }

  .coforce-page .name-container {
    grid-template-columns: 1fr repeat(14, 66.28px) 1fr;
    grid-column: 1/15;
  }
  #my-pic {
    grid-column: 1/15;
    width: 100%;
    grid-row: 1/7;
    display: grid;
  }

  .name-container {
    margin-top: 80px;
    grid-template-columns: 1fr repeat(12, 77.33px) 1fr;
    grid-column: 1/15;
    grid-row: 1;
    width: auto;
  }

  #name {
    grid-column: 2/13;
  }
  .line {
    grid-column: 1/7;
  }

  .coforce-page .line {
    grid-column: 1/8;
  }
  .projects-container {
    grid-column: 2/14;
  }

  .box {
    max-width: 432px;
    max-height: 283px;
  }

  .boxmockup {
    max-width: 432px;
    max-height: 283px;
  }

  #updown {
    grid-column: 7/9;
    grid-row: 4;
  }
  .up {
    grid-column: 2/14;
  }
  .coforce-page .up {
    grid-column: 2/14;
  }

  .about-me-container {
    grid-column: 2/14;
    margin-top: 80px;
  }

  #desktop-mockup {
    display: grid;
    width: 100%;
    grid-column: 1/15;
    margin-top: 80px;
  }
  #mobile-mockup {
    display: none;
  }
  .overview {
    grid-row: 3;
    display: flex;
    grid-column: 2/14;
    margin: 80px 0 48px 0;
    width: 100%;
    justify-content: space-around;
  }

  .btn {
    grid-column: 2/14;
  }
}

/* HD desktop */
@media all and (min-width: 1440px) {
  nav {
    grid-template-columns: 1fr 512px 512px 1fr;
  }
  footer {
    grid-template-columns: 1fr 1024px 1fr;
  }
  .main-container {
    grid-template-columns: 1fr repeat(12, 85.33px) 1fr;
  }
  .name-container {
    grid-template-columns: 1fr repeat(10, 102.4px) 1fr;
  }
  .about-me-page .name-container {
    grid-template-columns: 1fr repeat(16, 64px) 1fr;
  }

  .coforce-page .main-container {
    grid-template-columns: 1fr repeat(12, 85.33px) 1fr;
  }

  .line {
    grid-column: 1/6;
  }

  .about-me-page .line {
    grid-column: 1/7;
  }
  #my-pic {
    grid-row: 1/7;
  }
}
