/* CSS files add styling rules to your content */
/* S mobile */
html {
}
body {
  margin: 0;
  background-color: #f8f8f8;
}
body.highfi-page {
  font-family: "Lato";
}
body.about-me-page {
  font-family: "Lato";
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

.headerbox {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.about-me-page .headerbox {
  margin-left: 24px;
}
#backarrow {
  margin-right: 10px;
}

.highfi-page header {
  background-color: #ffffff;
}

.about-me-page header {
  background-color: #ffffff;
}

.highfi-page h2 {
  font-size: 20px;
  font-weight: 300;
}
.about-me-page h2 {
  font-size: 20px;
  font-weight: 300;
}

.header-items {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

#slash {
  margin: 0px 5px 0px 5px;
}

#right-links {
  justify-content: flex-end;
  margin-right: 24px;
}

#left-links {
  justify-content: space-between;
  margin-left: 24px;
}

.highfi-page #highfi {
  color: #5d46db;
}
a:link,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #5d46db;
  cursor: pointer;
  text-decoration: underline;
}
.project-box a:hover {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 48px;
  margin: 24px 0px 0px 24px;
  animation-name: falling;
  animation-duration: 1.5s;
  display: block;
}

@keyframes falling {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.highfi-page h1 {
  font-weight: 900;
}

.highfi-page #rony {
  color: #5d46db;
}

.highfi-page .line {
  height: 7px;
  background-color: #5d46db;
  display: block;
  position: relative;
  bottom: 6px;

  animation-name: slide;
  animation-duration: 1s;
}

.about-me-page .line {
  height: 7px;
  background-color: #5d46db;
  display: block;
  position: relative;
  bottom: 6px;

  animation-name: slide;
  animation-duration: 1s;
}
@keyframes slide {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

.name-container {
  width: fit-content;
}

.title {
  width: fit-content;
}
h3 {
  font-size: 20px;
  font-weight: normal;
}

h4 {
  text-decoration: underline;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 16px;
}

h5 {
  font-weight: normal;
  font-size: 16px;
  margin: 0 0 0 0;
}

.about-me-page h3 {
  font-weight: normal;
  color: #5d46db;
  font-size: 20px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.03px;
}
.about-me-page h4 {
  font-size: 20.1px;
  letter-spacing: -0.04px;
  font-weight: 300;
  text-decoration: none;
}
.content {
  margin: 40px 24px 40px 24px;
}

#my-pic {
  position: absolute;
  opacity: 0;
  width: 100%;
  z-index: -1;
}
#introtext {
  margin: 40px 24px 40px 24px;
}

.what {
  position: relative;

  margin: 80px 24px 0px 24px;
}

#glasses {
  width: 26px;
  height: 16px;
  object-fit: contain;
  margin-left: 10px;
  margin-right: 7px;
  padding-top: 2px;
}
#arrow {
  display: block;
  margin: 24px auto 24px auto;
  animation: vertical 4s infinite;
  width: 24px;
}
@keyframes vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}

.projects-container {
  display: flex;
  flex-flow: column wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 40px;
}

.box {
  width: 266px;
  height: 174.2px;
  border-radius: 4px;
  position: absolute;
  display: block;
  transition: 0.2s ease;
}

.boxmockup {
  width: 266px;
  height: 174.2px;
  border-radius: 4px;
  position: relative;
  display: block;
  opacity: 0;
  transition: 0.2s ease;
}
.project-box {
  width: 266px;

  margin: 40px auto 0px auto;
}
.up {
  width: 24px;

  margin: 40px auto 40px auto;
}
#upup {
  width: 24px;
  transform: rotate(180deg);
}

footer {
  height: 126px;
  background-color: rgba(93, 70, 219, 0.69);
  display: flex;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
  width: 200px;
  margin: 16px 24px 0 24px;
}

#social-media {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 16px;
}
#medium {
  margin-left: 55px;
}

#touch {
  color: #ffffff;
  display: flex;
  flex-flow: row wrap;
}

.footer-container h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.project-box:hover {
  cursor: pointer;
}
.project-box:hover .boxmockup {
  opacity: 1;
  transition: 0.2s ease;
  transform: scale(1.01);
}
.project-box:hover .box {
  opacity: 0.2;
  transition: 0.2s ease;
  transform: scale(1.01);
}
.project-box:hover .project-title {
  color: #5d46db;
  transition: 0.2s ease;
  text-decoration: underline;
}
#backarrow {
  width: 12px;
  height: 20px;
  display: flex;
}

#back {
  display: flex;
  align-items: center;
}

#mobile-mockup {
  width: 110px;
  height: 233px;
  display: flex;
}

.proj-intro-m {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#article {
  font-weight: normal;
}

.proj-intro-d {
  display: none;
}

#desktop-mockup {
  width: 100%;
}

#midfi-footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}
/* tablet */
@media all and (min-width: 767px) and (max-width: 1023px) {
  h1 {
    font-size: 72px;

    margin: 48px 0px 0px 48px;
  }

  .name-container {
    width: fit-content;
  }

  #introtext {
    margin: 40px 48px 40px 48px;
  }

  #right-links {
    margin-right: 48px;
  }

  #left-links {
    margin-left: 48px;
  }

  .what {
    margin: 80px 48px 0px 48px;
  }

  .project-box {
    width: 320px;
    margin: 40px 0 0 0;
  }

  .projects-container {
    flex-flow: row wrap;
    width: 700px;
    align-items: baseline;

    justify-content: space-evenly;
  }

  .box {
    width: 320px;
    height: 210px;
  }

  .boxmockup {
    width: 320px;
    height: 210px;
  }

  .highfi-page .line {
    height: 10px;
  }
  .about-me-page .line {
    height: 10px;
  }

  .footer-container {
    width: 100%;
    margin: 0 48px 0 48px;
    justify-content: space-between;
  }
  #medium {
    margin-left: 0px;
  }
  #social-media {
    margin-bottom: 0;
    flex-flow: row nowrap;
    width: 474px;
    justify-content: space-between;
  }

  footer {
    align-items: center;
  }
  .about-me-page .headerbox {
    margin-left: 48px;
  }
  .content {
    margin: 80px 48px 40px 48px;
  }
  .proj-intro-m {
    justify-content: start;
  }

  .overview {
    margin-left: 48px;
  }
}

/* desktop */
@media all and (min-width: 1024px) and (max-width: 1439px) {
  .highfi-page .line {
    height: 12px;
  }
  .about-me-page .line {
    height: 12px;
  }

  h1 {
    margin: 0px 0px 0px 48px;
    font-size: 72px;
  }

  #about-me {
    margin: 48px 0 0 48px;
  }

  .name-container {
    width: fit-content;
    padding-top: 80px;
  }
  .content {
    margin: 80px auto 80px auto;
    width: 928px;
  }

  #left-links {
    margin-left: 0px;
  }
  #right-links {
    margin-right: 0px;
  }

  .headerbox {
    margin-left: auto;
    margin-right: auto;
    width: 928px;
  }
  .about-me-page .headerbox {
    width: 928px;
    margin-left: auto;
  }
  #introtext {
    margin: 48px 550px 80px 48px;
  }
  .intro {
    background-image: url("https://cdn.glitch.com/ed6fa6a0-6a0d-47c5-8378-15ebddfe566d%2Fsomething.png?v=1586450205096");
    background-size: cover;
    height: 650px;
    background-position: center;
  }
  .what {
    margin-left: 48px;
  }

  .projects-container {
    flex-flow: row wrap;
    align-items: baseline;

    justify-content: space-between;
    width: 928px;
  }

  .box {
    width: 432px;
    height: 283px;
  }

  .boxmockup {
    width: 432px;
    height: 283px;
  }

  .project-box {
    width: 432px;
    margin: 40px 0 0 0;
  }

  .up:hover {
    cursor: pointer;
  }

  .up {
    transition: all 0s ease;
  }

  .footer-container {
    width: 928px;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  #medium {
    margin-left: 0px;
  }
  #social-media {
    margin-bottom: 0;
    flex-flow: row nowrap;
    width: 650px;
    justify-content: space-between;
  }

  #touch:hover {
    cursor: default;
  }
  footer {
    align-items: center;
  }
  #my-pic {
    position: absolute;
    opacity: 1;
  }

  .proj-intro-m {
    display: none;
  }
  .proj-intro-d {
    margin-top: 80px;

    display: block;
  }
}

/* HD desktop */
@media all and (min-width: 1440px) and (max-width: 1920px) {
  #left-links {
    margin-left: 0px;
  }
  #right-links {
    margin-right: 0px;
  }

  .headerbox {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
  }
  h1 {
    font-size: 72px;
    margin: 0px 0px 0px 208px;
  }

  .name-container {
    width: fit-content;
    padding-top: 80px;
  }
  .highfi-page .line {
    height: 12px;
  }

  .about-me-page .line {
    height: 12px;
  }

  #about-me {
    margin: 48px 0 0 208px;
  }

  .about-me-page .headerbox {
    margin-left: auto;
    width: 1024px;
  }

  .content {
    margin: 80px auto 80px auto;
    width: 1024px;
  }
  .intro {
    background-image: url("https://cdn.glitch.com/ed6fa6a0-6a0d-47c5-8378-15ebddfe566d%2Fsomething.png?v=1586450205096");
    background-size: cover;
    height: 750px;
    background-position: center;
  }

  #introtext {
    margin: 64px 650px 160px 208px;
  }
  .what {
    margin-left: 250px;
    margin-top: 240px;
  }
  .projects-container {
    flex-flow: row wrap;
    align-items: baseline;
    justify-content: space-between;
    width: 1024px;
    padding-top: 50px;
  }

  .box {
    width: 432px;
    height: 283px;
  }

  .boxmockup {
    width: 432px;
    height: 283px;
  }

  .project-box {
    width: 432px;
    margin: 40px 0 0 0;
  }

  .up:hover {
    cursor: pointer;
  }

  .up {
    transition: all 0s ease;
  }
  .footer-container {
    width: 1024px;
    margin: 0 auto 0 auto;
    justify-content: space-between;
  }
  #medium {
    margin-left: 0px;
  }
  #social-media {
    margin-bottom: 0;
    flex-flow: row nowrap;
    width: 644px;

    justify-content: space-between;
  }
  #touch:hover {
    cursor: default;
  }
  footer {
    align-items: center;
  }
  #my-pic {
    position: absolute;
    opacity: 1;
  }
  .proj-intro-m {
    display: none;
  }
  .proj-intro-d {
    margin-top: 80px;

    display: block;
  }
}
