/* CSS files add styling rules to your content */
/* S mobile */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: "lato";
  margin: 0em;
  background-color: #f8f8f8;
  height: auto;
  min-height: 100%;
}

header {
  background-color: #ffffff;
  display: block;
}

nav.nav-container {
  display: flex;
  flex-flow: row wrap;
  margin-left: 27px;
  height: 70px;
  align-content: center;
}

ul.menu_items {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.04px;
  color: #000000;
  list-style: none;
  display: flex;
  align-items: center;
}

.goback {
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.04px;
  color: #000000;
  list-style: none;
  padding-left: 10px;
  display: flex;
}

#backarrow {
  width: 12px;
  height: 20px;
  display: flex;
}

#second {
  padding-left: 58px;
}

.intro-container {
  display: block;
  padding-top: 30px;
  position: relative;
}

.aboutme-container {
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
}
.name {
  display: block;
  font-size: 70px;
  font-weight: 900;

  letter-spacing: -0.14px;
  color: #000000;
  padding-left: 27px;
}

.aboutme {
  display: block;
  font-size: 60px;
  font-weight: 900;
  letter-spacing: -0.14px;
  color: #000000;
  padding-left: 27px;
}
.coforceapp {
  display: block;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -0.14px;
  color: #000000;
  padding-left: 27px;
}

.line {
  width: 299px;
  height: 11px;

  background-color: #5d46db;
  position: relative;
  bottom: 10px;
  z-index: -1;
}

.line2 {
  width: 299px;
  height: 11px;

  background-color: #5d46db;
  position: relative;
  bottom: 10px;
  z-index: -1;
}
.linecoforce {
  width: 310px;
  height: 11px;
  background-color: #5d46db;
  position: relative;
  bottom: 8px;
  z-index: -1;
}

.intro {
  padding-top: 30px;
  font-size: 20.1px;
  position: relative;
  letter-spacing: -0.04px;
  color: #000000;
  padding-left: 29px;
  padding-right: 29px;
}

.aboutcontent {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 20.1px;
  position: relative;
  letter-spacing: -0.04px;
  color: #000000;
  padding-left: 29px;
  padding-right: 29px;
  display: block;
  font-weight: 300;
}
#glasses {
  width: 26px;
  height: 16px;
  object-fit: contain;
  margin-left: 10px;
  margin-right: 7px;
  padding-top: 2px;
}

.more {
  color: #000000;
  display: block;
  width: 304px;
  font-size: 20.1px;
  font-weight: 300;
  letter-spacing: -0.04px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}
.youtube {
  color: #000000;
  display: block;
 
  font-size: 20.1px;
  font-weight: 300;
  letter-spacing: -0.04px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: underline;
}
#arrow {
  display: block;
  position: absolute;
  right: 15px;
  bottom: auto;
  animation: vertical 4s infinite;
  width: 24px;
}
@keyframes vertical {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25px);
  }
}
.coforcecontainer {
  display: block;
  padding-top: 30px;
  padding-bottom: 25px;
  position: relative;
}
#pixel {
  width: 110px;
  height: 233px;
  display: flex;
}
.coforceproj {
  display: flex;
  align-items: center;
  margin-left: 27px;
}
.projintro {
  font-weight: 400;
  padding-left: 32px;
  font-size: 18px;
}
.project-container {
  display: flex;
  flex-flow: column wrap;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.projintrodesktop {
  opacity: 0;
  position: absolute;
}

.what {
  font-size: 20px;
  letter-spacing: -0.04px;

  text-decoration-color: #5d46db;
  padding-left: 27px;
  padding-top: 100px;
}

.projtext1 {
  width: 302.4px;
}
.projtext2 {
  width: 302.4px;
}
.projtext3 {
  width: 302.4px;
}

.projtext4 {
  width: 302.4px;
}
.projname1 {
  text-decoration: underline;
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: 18px;
}
.projname2 {
  text-decoration: underline;
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: 18px;
}

.projname3 {
  text-decoration: underline;
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: 18px;
}
.projname4 {
  text-decoration: underline;
  margin-bottom: 2px;
  margin-top: 12px;
  font-size: 18px;
}

.proj1 {
  position: relative;
  margin-top: 22px;
}

.proj2 {
  position: relative;
  margin-top: 44px;
}
.proj3 {
  position: relative;
  margin-top: 44px;
}
.proj4 {
  position: relative;
  margin-top: 44px;
}
#coforce {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
  transition: 0.2s ease;
}
#airbnb {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease;
  display: block;
}
#microsite {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
}
#buddy {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;

  display: block;
  position: absolute;
}
#mockup1 {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;

  opacity: 0;
  position: relative;
  display: block;
}
#mockup2 {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;

  opacity: 0;
  position: relative;
  display: block;
}
#mockup3 {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;

  opacity: 0;
  position: relative;
  display: block;
}
#mockup4 {
  width: 302.4px;
  height: 203.7px;
  border-radius: 6px;
  transition: 0.2s ease;
  margin-left: auto;
  margin-right: auto;

  opacity: 0;
  position: relative;
  display: block;
}

.up {
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.up2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50px;

  margin-bottom: 40px;
}
#upup {
  width: 50px;
}

footer {
  background-color: rgba(93, 70, 219, 0.69);
  height: 138px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.coforce-footer {
  background-color: rgba(93, 70, 219, 0.69);
  height: 138px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
  width: -webkit-fill-available;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 27px;
  margin-top: auto;
  margin-bottom: auto;
  width: 225px;
}

.touch {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.04px;
  color: #ffffff;
}

ul.social-media {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.04px;

  list-style: none;
  display: flex;
  padding-top: 11px;
  flex-flow: row wrap;
}
#linkedin {
  padding-right: 54px;
  padding-top: 11px;
}

#medium {
  padding-top: 11px;
}

a:link {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

#hi {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}

#why {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}
#why2 {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}
#other {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}

#Currently {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}

#btw {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}

#what_is_it_about {
  font-weight: normal;
  color: #5d46db;

  font-family: Lato;
  font-size: 20px;
  font-stretch: normal;

  line-height: normal;
  letter-spacing: -0.03px;
}


.mockups {
    position: absolute;
    opacity: 0;
    display: none;


  
}
 #mockupsgroup {

    height: 483px;

}
/* M mobile */

@media all and (min-width: 375px) and (max-width: 457px) {
  .what {
    margin-top: 40px;
  }

  .intro {
    font-size: 22px;
  }
  .what {
    font-size: 22px;
    width: 100%;
    margin-top: 70px;
  }
  .more {
    font-size: 22px;
    width: 100%;
  }
  .youtube {
    
    width: 100%;
  }

  #first {
    font-size: 22px;
  }

  #second {
    font-size: 22px;
  }
}

/* LARGE MOBILE */
@media all and (min-width: 457px) and (max-width: 768px) {
  .name {
    display: flex;
  }
  body {
    width: 768px;
  }
  .rony {
    padding-left: 12px;
  }
  .line {
    width: 400px;
  }
  .intro {
    width: 100%;
  }

  #buddy {
    margin-top: 0;
  }
}
/* tablet */
@media all and (min-width: 768px) and (max-width: 1024px) {
  .name {
    display: flex;
    font-size: 90px;
  }
  .line {
    width: 585px;
    height: 11px;
    bottom: 10px;
  }
  body {
    width: 1024px;
  }

  header {
    width: 1024px;
  }
  nav.nav-container {
    padding-left: 100px;
    margin: 0 0 0 0;
  }
  .name {
    padding-left: 100px;
  }
  .intro {
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    font-size: 24px;
  }
  .more {
    font-size: 24px;
    width: 100%;
  }
  .youtube {
    
    width: 100%;
  }
  .what {
    padding-left: 100px;
  }

  footer {
    height: 138px;
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1024px;
  }
  .footer-container {
    padding-left: 100px;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    padding-right: 100px;
  }

  ul.social-media {
    font-size: 24px;
    padding-top: 21px;
    justify-content: space-between;
  }
  #linkedin {
    padding-right: 0px;
    padding-top: 0;
  }

  #medium {
    padding-top: 0px;
  }

  #mail {
    padding-right: 0px;
  }
  .touch {
    font-size: 24px;
  }

  .what {
    font-size: 24px;

    padding-left: 100px;
  }

  .project-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    width: 825px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: start;
  }
  #coforce {
    margin-top: 0;
    width: 364px;
    height: 246px;
  }
  #airbnb {
    margin-top: 0;
    width: 364px;
    height: 246px;
  }
  #microsite {
    margin-top: 0;
    width: 364px;
    height: 246px;
  }
  #buddy {
    width: 364px;
    height: 246px;
    margin-top: 0;
  }
  .proj1 {
    margin-top: 0;
  }
  .proj2 {
    margin-top: 0;
  }
  .proj3 {
    margin-top: 22px;
  }
  .proj4 {
    margin-top: 22px;
  }

  #mockup1 {
    width: 364px;
    height: 246px;
  }
  #mockup2 {
    width: 364px;
    height: 246px;
  }
  #mockup3 {
    width: 364px;
    height: 246px;
  }
  #mockup4 {
    width: 364px;
    height: 246px;
  }

  ul.menu_items {
    font-size: 24px;
  }
  #arrow {
    display: block;
    width: 50px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    animation: vertical 4s infinite;
    width: 35px;
    position: relative;
  }
  .aboutcontent {
    padding-left: 100px;
    padding-right: 100px;
  }

  .aboutme {
    padding-top: 50px;
    padding-left: 100px;
  }

  .line2 {
    width: 370px;
    height: 11px;
  }

  #pixel {
    width: 110px;
    height: 233px;
    display: flex;
  }
  .coforceproj {
    display: flex;
    align-items: center;
    margin-left: 100px;
  }
  .projintro {
    font-weight: 400;
    padding-left: 32px;
    font-size: 18px;
  }
  .linecoforce {
    width: 385px;
    height: 11px;
  }
  .coforceapp {
    padding-left: 100px;
  }
}

/* desktop */
@media all and (min-width: 1024px) and (max-width: 1440px) {
  body {
    width: 1440px;
  }

  .up {
    margin-top: -35px;
    margin-left: 1300px;
    transition: all 0s ease;
    position: absolute;
    z-index: 1;
  }

  .up2 {
    margin-top: -35px;
    margin-left: 1300px;
    transition: all 0s ease;
    position: absolute;
    z-index: 1;
  }

  #upup {
    width: 70px;
  }

  .up:hover {
    transform: rotate(15deg);
    transform-origin: center left;
    cursor: pointer;
  }

  .up2:hover {
    transform: rotate(15deg);
    transform-origin: center left;
    cursor: pointer;
  }

  header {
    width: 100%;
  }

  #first:hover {
    color: #5d46db;
    font-size: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
  }

  #second:hover {
    color: #5d46db;
    font-size: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
  }

  #mail:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  #linkedin:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  #medium:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  a.links:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  .proj1:hover .projname1 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj3:hover .projname3 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj2:hover .projname2 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj4:hover .projname4 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }

  nav.nav-container {
    padding-left: 250px;
    margin: 0 0 0 0;
  }

  ul.menu_items {
    font-size: 28px;
  }

  #first {
    padding-right: 58px;
  }
  .name {
    padding-top: 50px;
    padding-left: 250px;
    font-size: 130px;
    display: flex;
  }
  .intro {
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    font-size: 28px;
  }
  .more {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 504px;
    transition: 0.2s ease;
    text-decoration: none;
  }
  .youtube {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    transition: 0.2s ease;
    text-decoration: none;
  }

  .what {
    padding-left: 250px;
    font-size: 28px;
  }

  .line {
    width: 950px;
    height: 18px;
    bottom: 18px;
  }

  .project-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 100px;
    width: 941px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: start;
  }

  .proj1 {
    position: relative;
    margin-top: 0;
    opacity: 1;
    transition: 0.2s ease;
  }
  .proj2 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
    margin-top: 0px;
  }
  .proj3 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
  }
  .proj4 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
  }

  #coforce {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }
  #airbnb {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }

  #microsite {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }
  #buddy {
    width: 432px;
    height: 291px;
    margin-top: 0;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }

  .proj1:hover {
    cursor: pointer;
  }
  .proj1:hover #coforce {
    opacity: 0.2;
    transform: scale(1.01);
    transition: 0.2s ease;
  }

  .proj2:hover {
    cursor: pointer;
  }
  .proj2:hover #airbnb {
    opacity: 0.2;
    transform: scale(1.01);
    transition: 0.2s ease;
  }
  .projname1 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description1 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }
  .projname2 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description2 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  .proj3:hover {
    cursor: pointer;
  }
  .proj3:hover #microsite {
    opacity: 0.2;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  .proj1:hover #mockup1 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }

  .proj2:hover #mockup2 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  .proj3:hover #mockup3 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }

  .proj4:hover #mockup4 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  #mockup1 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup2 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup3 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup4 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }

  .projname3 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description3 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  .proj4:hover {
    cursor: pointer;
  }
  .proj4:hover #buddy {
    opacity: 0.2;
    transform: scale(1.01);
  }

  .projname4 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description4 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  #arrow {
    display: block;
    width: 50px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    animation: vertical 4s infinite;
    width: 35px;
    position: relative;
  }

  .footer-container {
    flex-flow: row wrap;
    width: 942px;
    margin-left: 250px;
    padding-left: 0px;
    padding-right: 0;
    justify-content: space-between;
  }

  .touch {
    font-size: 28px;
  }

  ul.social-media {
    font-size: 28px;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 651px;
    justify-content: space-between;
  }
  #linkedin {
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }

  #glasses {
    width: 40px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }

  #medium {
    padding-top: 0px;
  }
  .rony {
    padding-left: 20px;
  }

  #backarrow {
    width: 17px;
    height: 28px;
  }

  .goback {
    font-size: 28px;
  }

  .aboutcontent {
   padding-bottom: 50px;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    font-size: 28px;
    padding-bottom: 50px;
  }

  #hi {
    font-size: 28px;
  }

  #why {
    font-size: 28px;
  }
  #why2 {
    font-size: 28px;
  }
  #other {
    font-size: 28px;
  }

  #Currently {
    font-size: 28px;
  }

  #btw {
    font-size: 28px;
  }

  .aboutme {
    padding-top: 50px;
    padding-left: 250px;
    font-size: 72px;
    display: flex;
  }

  .line2 {
    width: 576px;
    height: 14px;
    margin-top: 3px;
  }
  #pixel {
    width: 110px;
    height: 233px;
    display: flex;
  }
  .coforceproj {
    display: flex;
    align-items: center;
    margin-left: 250px;
    padding-top: 50px;
    opacity: 0;
    position: absolute;
  }
  .projintro {
    font-weight: 400;
    padding-left: 32px;
    font-size: 18px;
  }
  .linecoforce {
    width: 660px;
    height: 14px;
    margin-top: 3px;
  }
  .coforceapp {
    padding-left: 250px;
    font-size: 72px;
    padding-top: 50px;
  }

  #what_is_it_about {
    font-size: 28px;
  }
  .projintrodesktop {
    font-size: 28px;
    opacity: 1;
    padding-left:250px;
position: relative;
padding-top:25px;
  }

.mockups {
    position: relative;
    opacity: 1;  
display: flex;
justify-content:center;
margin-left:auto;
margin-right:auto;
margin-top:50px;
margin-bottom:100px;
  
}
 
}

/* large desktop */
@media all and (min-width: 1440px) and (max-width: 1920px) {
  

  .up {
    margin-top: -35px;
    margin-left: 1300px;
    transition: all 0s ease;
    position: absolute;
    z-index: 1;
  }

  .up2 {
    margin-top: -35px;
    margin-left: 1300px;
    transition: all 0s ease;
    position: absolute;
    z-index: 1;
  }

  #upup {
    width: 70px;
  }

  .up:hover {
    transform: rotate(15deg);
    transform-origin: center left;
    cursor: pointer;
  }

  .up2:hover {
    transform: rotate(15deg);
    transform-origin: center left;
    cursor: pointer;
  }

  header {
    width: 100%;
  }

  #first:hover {
    color: #5d46db;
    font-size: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
  }

  #second:hover {
    color: #5d46db;
    font-size: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    text-decoration: underline;
  }

  #mail:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  #linkedin:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  #medium:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  a.links:hover {
    color: #5d46db;
    transition: all 0.2s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  .proj1:hover .projname1 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj3:hover .projname3 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj2:hover .projname2 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }
  .proj4:hover .projname4 {
    color: #5d46db;
    transition: all 0.2s ease;
    text-decoration: underline;
  }

  nav.nav-container {
    padding-left:0px;
    margin-left: auto;
    margin-right: auto;
    width: 942px;
  }

  ul.menu_items {
    font-size: 28px;
  }

  #first {
    padding-right: 58px;
  }
  .name {
    padding-top: 50px;
    padding-left: 0px;
    font-size: 130px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 942px;
  }
  .intro {
    padding-top: 50px;
    padding-left: 0px;
   
    margin-left: auto;
    margin-right: auto;
    width: 942px;
    font-size: 28px;
  }
  .more {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 504px;
    transition: 0.2s ease;
    text-decoration: none;
  }
  .youtube {
    font-size: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    transition: 0.2s ease;
    text-decoration: none;
  }

  .what {
    
    font-size: 28px;
    width: 941px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;

  }

  .line {
    width: 950px;
    height: 18px;
    bottom: 18px;
  }

  .project-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 100px;
    width: 941px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: start;
  }

  .proj1 {
    position: relative;
    margin-top: 0;
    opacity: 1;
    transition: 0.2s ease;
  }
  .proj2 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
    margin-top: 0px;
  }
  .proj3 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
  }
  .proj4 {
    position: relative;
    opacity: 1;
    transition: 0.2s ease;
  }

  #coforce {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }
  #airbnb {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }

  #microsite {
    width: 432px;
    height: 291px;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }
  #buddy {
    width: 432px;
    height: 291px;
    margin-top: 0;
    transition: 0.2s ease;
    opacity: 1;
    display: block;
    position: absolute;
  }

  .proj1:hover {
    cursor: pointer;
  }
  .proj1:hover #coforce {
    opacity: 0.2;
    transform: scale(1.01);
    transition: 0.2s ease;
  }

  .proj2:hover {
    cursor: pointer;
  }
  .proj2:hover #airbnb {
    opacity: 0.2;
    transform: scale(1.01);
    transition: 0.2s ease;
  }
  .projname1 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description1 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }
  .projname2 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description2 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  .proj3:hover {
    cursor: pointer;
  }
  .proj3:hover #microsite {
    opacity: 0.2;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  .proj1:hover #mockup1 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }

  .proj2:hover #mockup2 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  .proj3:hover #mockup3 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }

  .proj4:hover #mockup4 {
    opacity: 1;
    transition: 0.2s ease;
    transform: scale(1.01);
  }
  #mockup1 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup2 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup3 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }
  #mockup4 {
    width: 432px;
    height: 291px;
    position: relative;
    margin-top: 0px;
  }

  .projname3 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description3 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  .proj4:hover {
    cursor: pointer;
  }
  .proj4:hover #buddy {
    opacity: 0.2;
    transform: scale(1.01);
  }

  .projname4 {
    width: 432px;
    margin-top: 20px;
    font-size: 22px;
    text-decoration: none;
  }

  .description4 {
    width: 432px;

    font-size: 18px;
    font-weight: 300;
  }

  #arrow {
    display: block;
    width: 50px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
    animation: vertical 4s infinite;
    width: 35px;
    position: relative;
  }

  .footer-container {
    flex-flow: row wrap;
    width: 942px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0;
    justify-content: space-between;
  }

  .touch {
    font-size: 28px;
  }

  ul.social-media {
    font-size: 28px;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 651px;
    justify-content: space-between;
  }
  #linkedin {
    padding-right: 0px;
    padding-top: 0px;
    padding-left: 0px;
  }

  #glasses {
    width: 40px;
    height: 25px;
    margin-left: 10px;
    margin-right: 5px;
  }

  #medium {
    padding-top: 0px;
  }
  .rony {
    padding-left: 20px;
  }

  #backarrow {
    width: 17px;
    height: 28px;
  }

  .goback {
    font-size: 28px;
  }

  .aboutcontent {
   padding-bottom: 50px;
    font-weight: 300;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
    width: 100%;
    font-size: 28px;
    padding-bottom: 50px;
  }

  #hi {
    font-size: 28px;
  }

  #why {
    font-size: 28px;
  }
  #why2 {
    font-size: 28px;
  }
  #other {
    font-size: 28px;
  }

  #Currently {
    font-size: 28px;
  }

  #btw {
    font-size: 28px;
  }

  .aboutme {
    padding-top: 50px;
    padding-left: 250px;
    font-size: 72px;
    display: flex;
  }

  .line2 {
    width: 576px;
    height: 14px;
    margin-top: 3px;
  }
  #pixel {
    width: 110px;
    height: 233px;
    display: flex;
  }
  .coforceproj {
    display: flex;
    align-items: center;
    margin-left: 250px;
    padding-top: 50px;
    opacity: 0;
    position: absolute;
  }
  .projintro {
    font-weight: 400;
    padding-left: 32px;
    font-size: 18px;
  }
  .linecoforce {
    width: 660px;
    height: 14px;
    margin-top: 3px;
  }
  .coforceapp {
    padding-left: 250px;
    font-size: 72px;
    padding-top: 50px;
  }

  #what_is_it_about {
    font-size: 28px;
  }
  .projintrodesktop {
    font-size: 28px;
    opacity: 1;
    padding-left:250px;
position: relative;
padding-top:25px;
  }

.mockups {
    position: relative;
    opacity: 1;  
display: flex;
justify-content:center;
margin-left:auto;
margin-right:auto;
margin-top:50px;
margin-bottom:100px;
  
}
 
}
